<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/users/<%= userid %>">Profile</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Log out</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="margin-left: 100px">Find My Team</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down valign-wrapper" style="margin-right: 100px">
            <li><a href="/games/new">Create game</a></li>
            <li><a href="/games">Search game</a></li>
            <li><a href="#!" class="dropdown-button" data-activates="dropdown1"><img src="https://avatars.githubusercontent.com/u/17765383?v=3&s=40" alt="" class="circle responsive-img valign"></a></li>
        </ul>
    </div>
</nav>